
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body.red { 
background: rgb(206, 76, 126);
font-family: Fredoka One, Arial, Helvetica, sans-serif;
}
*{
margin:0;
box-sizing:border-box;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
.leftside, .rightside {   
width: 100%;
padding: 0;
}
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
.topnav a {
float: none;
width: 100%;
}
}
ul{/*nav*/
position: sticky;
top: 0;
list-style-type: none;
overflow: hidden;
background-color: rgb(212, 65, 102);
padding:5px;
}
.styles{
color: white;
font-family:Fredoka One, Arial, Helvetica, sans-serif;
font-weight:normal;
font-style:normal;
transform: translatey(-50px);
position:absolute;
}
#stroke{
color:black;
text-shadow:
-1px -1px 0 white,
1px -1px 0 white,
-1px 1px 0 orange,
1px 1px 0 orange; 
}
.row:after{
content: "";
display: table;
clear: both;
}
.column{
float:left;
background-color: #f1f1f1;
padding:20px;
}
.column.middle{
width:50%;

}
.leftside{
width:25%;

}
.rightside{
width: 25%;
}
.list {  
list-style-position: inside; 
text-align: center;
font-family: Fredoka One, Arial, Helvetica, sans-serif;
font-weight:normal;
font-style:normal;
font-size: 150%;
list-style-type: none;
}
li a:hover {
background-color: #111111;
}
.title {
width: 100%; 
line-height:left;
height: 150px;
animation: highlights 2s; 
font-size:50;
color:rgb(56, 44, 47);
}
.fakeimg {
background-color: #aaa;
width: 100%;
}
.height{
 max-height: 500;
}
div {
  display: block;
}
.card{
background-color: rgb(212, 65, 102);

}

@keyframes highlights{
from{transform: translatex(-100px);}
to {transform: translatex(0px); }
}
#list{
display: inline;
background-color: #202094;
}
/*nav bar*/
.bar {
display: block;
padding: 14px 16px;
top:0;
margin-right:100;
min-width: auto;
float:left;
color: white;
text-decoration: none;
}
.top{
background: #000000;
color:#fdfdfd;
width:100%;
height:5%;
text-decoration: underline  rgb(41, 34, 34) ;
}
/*table props*/
.data{
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
background-color:  rgb(212, 65, 102);
}
th {
background-color: rgb(92, 28, 55);
font-weight: bold;
text-align: left;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
tr:nth-child(even) {
background-color: rgb(87, 3, 121);
}
#user{
border: 2px solid  rgb(112, 47, 74);
text-align: left;
height:100;
color:#00fff2;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
td:hover {
padding:5;
background-color: rgb(0, 110, 253);
}
.inline{/*img dims*/
display: "inline-block";
width:100%;
opacity:50%;
border:white;
border-bottom: #fdfdfd;
}
.container {
text-align: center;
color: white;
}
.intoyou{
position:absolute;
float:left;
transform: translate(-30%,40%);
}
.anim{
  animation:hunieY 2s forwards;
}
.rev{
  animation: rev 2s forwards;
}
@keyframes hunieY{
  from{transform:translate(-30%,40%);}
  to{transform:translate(30%,40%);}
  }
  @keyframes rev{
  from{transform:translate(30%,40%);}
  to{transform:translate(600%,40%);}
  }
@keyframes C{
from{color:orange; color:pink;}
to{color:pink; color:orange;}
}
#a {
width: 200px;
background-size: 100%;
border-radius: 50%;
}
.aboutme{
border-color:black;
transform: translateY(50%);
left:97%;
height: 50px;
width: 50px;
border-radius: 50%;
border: none;
}
div#expand{
font-size: x-large;
}
div.expand{
text-indent:2;
margin:10px;
height:700px;
width:280px;
padding:20px;
background: rgb(87, 3, 121);
}
div.hidden{
height:700px;
text-indent: 110%;
white-space: nowrap;
overflow: hidden;

}
  
